@import "./variables.scss";

body{
  font-family: $font-family;
  font-size: $font-size;
  color:$base-color;
  background-color: $background-color;
  position: relative;
  font-weight: $font-weight;
}

// ================ Login page ================
.login-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  background-image: url('../images/login-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .card {
      margin-bottom: 0;
      background-color: #fff;
      -webkit-box-shadow: 0 30px 40px 0 rgba(0,0,0,0.3);
      box-shadow: 0 30px 40px 0 rgba(0,0,0,0.3);
      padding: 30px 15px 20px 15px;
  }

  .login-content {
      position: relative;
      width: 360px;
      padding: 15px;
      z-index: 5;
  }

  @media only screen and (max-width: 768px) {
      max-width: 360px;

  }
  @media only screen and (max-width: 575px) {
      .card {
          .card-body {
              padding: 30px 15px;
          }
      }
  }

  .login-icon {
      font-size: 30px;
      color: #007bff;

  }

  // ================ End Login page ================

  .error-msg{
    color: $color-error;
    text-align: center;
    padding: 3px;
    min-height: 25px;
  }
}

// ================ Page Layout ================

.portal-logo{
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-content-layout{
  margin-left: 200px;
  transition: all 0.1s ease-in-out;
}

.site-content-collapse{
  margin-left: 80px;
  transition: all 0.3s ease-in-out;
}

.page-content-wrapper{
  margin: 20px 10px 10px 20px;
}

.portal-side-layout{
  box-shadow:  0 20px 0 #3f4d67;
}

.site-header-layout{
  min-height: 70px;
  background: transparent;
  color: #3f4d67;
  box-shadow: 0px 10px 10px -15px #3f4d67;
  height: 60px;
  padding-top:20px;
}

.header-menu-icon{
  font-size: large;
  cursor: pointer;
  color: black;
  display: none;
}

.menu-item-drawer{
  display: none;
  .ant-drawer-body{
    padding: 0px;
    background-color: #001529;
  }
  .anticon-close{
    color: #fff
  }
}

.ant-layout-header{
  line-height: 30px;
}
.header-user-info {
  float: right;
  color: #2194ff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.header-menu-dropdown{
  cursor: pointer;
  width: 180px;
  .ant-dropdown-menu-item {
    padding: 6px 15px 6px 15px;
    a{
      color:$base-color;
      font-weight: 500;
    }
    .anticon{
      color: #1890ff;
      font-weight: 700;
    }
    &:hover{
      background-color:$color-info;
      a {
        color: #fff;
      }
      .anticon{
        color: #fff;
      }
    }
  }
}

// ================ End Page Layout ================


@media only screen and (max-width: 450px) {
  .portal-side-layout{
    display: none;
  }

  .site-content-layout{
    margin-left: 0px;
  }
  .site-content-collapse{
    margin-left: 0px;
  }

  .page-content-wrapper{
    margin: 20px 10px 10px 10px;
  }

  .menu-item-drawer{
    display: inline;
  }

  .header-menu-icon{
    display: inline;
    float: right;
  }

  .header-user-info{
    float: left
  }

}

