
// Base page variables.
$font-family: "Open Sans", sans-serif;
$font-size: 14px;
$base-color: #3c4858;
$background-color: #f4f7fa;
$font-weight: 400;


// colors
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-info: #17a2b8;
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-error: #ff4d4f
